vti_encoding:SR|utf8-nl
vti_author:SR|MAR-DTCHAPA\\tempuser
vti_modifiedby:SR|Alex-PC\\Alex
vti_timelastmodified:TR|08 Sep 2020 21:40:33 -0000
vti_timecreated:TR|18 Sep 2015 18:11:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Contact.html Template.dwt Mid-IR_Fiber_Specs.html Mid_Infrared_HP_Fiber.html index.html
vti_nexttolasttimemodified:TW|08 Sep 2020 21:37:10 -0000
vti_cacheddtm:TX|08 Sep 2020 21:40:33 -0000
vti_filesize:IR|2607
vti_cachedlinkinfo:VX|S|images/main_top.jpg S|images/header.jpg S|images/menubg.jpg S|images/menu_hov.png S|images/con_bot.jpg
vti_cachedsvcrellinks:VX|FSUS|images/main_top.jpg FSUS|images/header.jpg FSUS|images/menubg.jpg FSUS|images/menu_hov.png FSUS|images/con_bot.jpg
